* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');


body {
  font-family: 'Lato', sans-serif;
  height: 100%;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

h2 {
  font-size: 20px;
}

:root {
  --header-padding: 50px;
  --header-padding-mobile: 25px;
  --default-width: 492px;
  --border-radius: 4px;
  --border-radius-2: 8px;
  --color-light: #ffffff;
  --color-green: #4bde95;
  --color-dark-green: #308e5f;
  --color-grey: #c6c6c6;
  --color-error: #eb5757;
  --color-transparent: rgba(255, 255, 255, 0.1);
}

@media (min-width: 1025px) {
  body {
    overflow: hidden;
  }
}